In [69]:
inputfile = 'AirQualityData.csv'

In [70]:
import pandas as pd
import numpy as np

In [71]:
df = pd.read_csv(inputfile, encoding = "ISO-8859-1")

In [72]:
df.columns.values

array(['stn_code', 'sampling_date', 'state', 'location', 'agency', 'type',
       'so2', 'no2', 'rspm', 'spm', 'location_monitoring_station',
       'pm2_5', 'date'], dtype=object)

In [73]:
df = df.drop(['stn_code', 'sampling_date', 'agency', 'type', 'location_monitoring_station','pm2_5'], axis = 1)

In [74]:
years = ['2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']
df = df[df["date"].str.contains('|'.join(years), na=False)]

In [57]:
df.loc[:, 'date'] = df['date'].str.split('-', expand=True)[0]

In [58]:
# To check next output
# df.loc[(df['date'] == '2014') & (df['state'] == 'West Bengal')].mean()

In [59]:
df = df.groupby(['state','date']).mean()

In [60]:
#INSERT CODE TO MERGE ANDHRA PRADESH AND TELANGANA DATA

In [61]:
df.to_csv("AirQualityData-Clean.csv")

In [62]:
# Get number of rows that have null values
df.isnull().sum()

so2       6
no2       4
rspm     49
spm     110
dtype: int64

In [63]:
# Get rows that have null values for so2
df[df['so2'].isnull()]

                 so2        no2        rspm         spm
state      date
Chandigarh 2001  NaN        NaN         NaN  247.083333
Delhi      2004  NaN        NaN  135.199436  340.091358
Mizoram    2005  NaN        NaN   27.856287   93.586826
           2008  NaN   7.246286   37.304207   80.275081
Nagaland   2003  NaN        NaN   74.418079  137.514124
           2005  NaN  14.760000   79.764706  154.161765

In [64]:
# Get rows that have null values for rspm
df[df['rspm'].isnull()]

                                 so2        no2  rspm         spm
state                date
Andhra Pradesh       2001  12.000952  27.105714   NaN  142.790476
                     2002   7.506667  24.976190   NaN   85.866667
Assam                2001   3.708333  19.575000   NaN  172.000000
                     2002   3.141667  18.700000   NaN  168.833333
Bihar                2001  23.372840  35.648148   NaN  297.086420
                     2002  24.355072  43.291304   NaN  260.438356
Chandigarh           2001        NaN        NaN   NaN  247.083333
                     2002   8.005000   9.200000   NaN  296.375000
Chhattisgarh         2001  12.612500  20.237500   NaN   81.583333
                     2002  12.657143  19.328571   NaN   93.636364
Dadra & Nagar Haveli 2012   7.618667  20.181333   NaN         NaN
Daman & Diu          2012   7.628947  20.147368   NaN         NaN
Delhi                2001  12.912121  39.014141   NaN  363.876289
                     2002  10.950000  36.976087   NaN  338.860215
Goa                  2001  46.027273  32.945455   NaN         NaN
                     2002  28.200000  37.775000   NaN         NaN
Gujarat              2001  11.536170  31.220690   NaN  358.527778
                     2002  13.935338  28.230075   NaN  244.009174
Haryana              2001  22.850000  14.111111   NaN  313.166667
                     2002  18.280556  23.369444   NaN  431.166667
Himachal Pradesh     2001   3.209375  12.777083   NaN         NaN
                     2002   3.508333  14.620833   NaN  156.563380
                     2004   3.474003  12.746127   NaN  188.241739
Karnataka            2001  20.819643  25.873214   NaN  133.340000
                     2002  16.071667  26.228333   NaN   70.966667
Kerala               2001   9.977640  14.643478   NaN  163.148515
                     2002   9.098171  10.251220   NaN  125.580952
Madhya Pradesh       2001  19.088079  26.062914   NaN  157.500000
                     2002  13.617647  24.279085   NaN  218.392857
Maharashtra          2001  20.128346  32.508661   NaN  222.697248
                     2002  18.375281  29.810861   NaN  219.542453
                     2003   5.903475  18.723077   NaN  183.807229
Meghalaya            2001   3.868182   8.504545   NaN   75.791667
                     2002   3.940000   9.515000   NaN   86.250000
Odisha               2001   9.106250  21.247500   NaN  158.107143
                     2002  10.630488  16.450000   NaN  145.902439
Puducherry           2001  13.816000  18.595833   NaN   81.117647
                     2002  16.665714  12.662857   NaN   12.382353
Punjab               2001  14.813542  30.047917   NaN  259.483333
                     2002  11.684375  29.170312   NaN  238.125000
Rajasthan            2001  11.015942  38.032984   NaN  288.511962
                     2002  10.776168  33.369626   NaN   77.098131
                     2003  10.350694  14.472222   NaN  347.902778
Tamil Nadu           2001  11.220492  24.051429   NaN   95.192857
                     2002  13.558696  25.904813   NaN   62.728723
Uttar Pradesh        2001  23.765865  25.665865   NaN  343.046025
                     2002  17.515761  23.469730   NaN  323.590244
West Bengal          2001  14.482796  62.319355   NaN  196.336957
                     2002  10.247917  63.793750   NaN  163.802083

In [65]:
# Get rows that have null values for spm
df[df['spm'].isnull()]
# df[df.isnull().any(axis=1)]

                              so2        no2        rspm  spm
state             date
Andhra Pradesh    2010   5.365275  15.397188   69.487281  NaN
                  2012   7.438174  15.762852   77.661990  NaN
                  2013   7.379130  17.400199   76.647496  NaN
                  2014   8.658371  18.582353   74.896863  NaN
Arunachal Pradesh 2014   2.000000   5.000000   69.400000  NaN
...                           ...        ...         ...  ...
Uttarakhand       2012  26.546667  29.173333  180.415855  NaN
                  2013  23.455026  25.785714  141.844615  NaN
West Bengal       2011  17.134927  56.929974  117.222886  NaN
                  2012  41.414067  54.673853  106.147554  NaN
                  2014   8.076540  57.616055  115.317362  NaN

[110 rows x 4 columns]

In [66]:
# Get rows that have non numeric values
import numpy as np
df[~df.iloc[:, 1:].applymap(np.isreal).all(1)]

Empty DataFrame
Columns: [so2, no2, rspm, spm]
Index: []

In [67]:
s=set()
for i in df.index:
    s.add(i[0])

In [68]:
set(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh',
       'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab',
       'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttarakhand',
       'Uttar Pradesh', 'West Bengal', 'Andaman & Nicobar Islands',
       'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi',
       'Lakshadweep', 'Puducherry'])-s

{'Andaman & Nicobar Islands', 'Lakshadweep', 'Tripura'}