In [286]:
inputfile = 'AirQualityData.csv'

In [287]:
import pandas as pd
import numpy as np

In [288]:
df = pd.read_csv(inputfile, encoding = "ISO-8859-1")

In [289]:
df.columns.values

array(['stn_code', 'sampling_date', 'state', 'location', 'agency', 'type',
       'so2', 'no2', 'rspm', 'spm', 'location_monitoring_station',
       'pm2_5', 'date', 'spm'], dtype=object)

In [290]:
df = df.drop(['stn_code', 'sampling_date', 'agency', 'type', 'location_monitoring_station','pm2_5'], axis = 1)

In [291]:
years = ['2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']
df = df[df["date"].str.contains('|'.join(years), na=False)]

In [292]:
df.loc[:, 'date'] = df['date'].str.split('-', expand=True)[0]

In [293]:
df['state'] = df['state'].replace(['Uttaranchal'],'Uttarakhand')

In [294]:
# To check next output
# df.loc[(df['date'] == '2014') & (df['state'] == 'West Bengal')].mean()

In [295]:
df = df.groupby(['state','date']).mean()

In [296]:
#MERGE ANDHRA PRADESH AND TELANGANA DATA AND DELETE TELANGANA DATA
df.loc[('Telangana', '2014')] = df.loc[[('Andhra Pradesh', '2014'), ('Telangana', '2014')]].sum()
df = df.drop(('Telangana', '2014'))

In [297]:
df.to_csv("AirQualityData-Clean.csv")

In [298]:
# Get number of rows that have null values
df.isnull().sum()

so2       3
no2       1
rspm      2
spm     104
dtype: int64

In [299]:
# Get rows that have null values for no2
df[df['no2'].isnull()]

              so2  no2       rspm        spm
state   date
Mizoram 2005  NaN  NaN  27.856287  93.586826

In [300]:
# Get rows that have null values for so2
df[df['so2'].isnull()]

               so2        no2       rspm         spm
state    date
Mizoram  2005  NaN        NaN  27.856287   93.586826
         2008  NaN   7.246286  37.304207   80.275081
Nagaland 2005  NaN  14.760000  79.764706  154.161765

In [301]:
# Get rows that have null values for rspm
df[df['rspm'].isnull()]

                                so2        no2  rspm  spm
state                date
Dadra & Nagar Haveli 2012  7.618667  20.181333   NaN  NaN
Daman & Diu          2012  7.628947  20.147368   NaN  NaN

In [302]:
# Get rows that have null values for spm
df[df['spm'].isnull()]
# df[df.isnull().any(axis=1)]

                              so2        no2        rspm  spm
state             date
Andhra Pradesh    2010   5.365275  15.397188   69.487281  NaN
                  2012   7.438174  15.762852   77.661990  NaN
                  2013   7.379130  17.400199   76.647496  NaN
                  2014   8.658371  18.582353   74.896863  NaN
Arunachal Pradesh 2014   2.000000   5.000000   69.400000  NaN
...                           ...        ...         ...  ...
Uttarakhand       2012  26.546667  29.173333  180.415855  NaN
                  2013  23.455026  25.785714  141.844615  NaN
West Bengal       2011  17.134927  56.929974  117.222886  NaN
                  2012  41.414067  54.673853  106.147554  NaN
                  2014   8.076540  57.616055  115.317362  NaN

[104 rows x 4 columns]

In [303]:
# Get rows that have non numeric values
import numpy as np
df[~df.iloc[:, 1:].applymap(np.isreal).all(1)]

Empty DataFrame
Columns: [so2, no2, rspm, spm]
Index: []